@use "@/styles/colors.scss";
@use "@/styles/responsive.scss" as rs;

.newsContent {
  width: 100%;
  height: 100%;
  border: 0.1rem solid #d6d6d6;
  border-radius: 1rem;
  padding: 2rem 1.8rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  box-sizing: border-box;
  &:hover {
    transform: translateY(-3%);
    box-shadow: 0 0.8rem 0.8rem -0.8rem;
  }
  a {
    display: flex;
    gap: 1.2rem;
    height: 100%;
    width: 100%;
    .newsImage {
      width: 35%;
      aspect-ratio: 5;
      object-fit: cover;
      border-radius: 1rem;
      flex-shrink: 0;
    }
    .newsText {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-width: 0;

      .title {
        display: block;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: colors.$mainNavy;
        font-size: 1.8rem;
        font-weight: 600;
        @include rs.respond-to("desktop-large") {
          font-size: 1.6rem;
        }
      }
      .content {
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        line-height: 2rem;
        font-size: 1.6rem;
        text-align: justify;
        color: colors.$mainTitle;
        @include rs.respond-to("desktop-large") {
          -webkit-line-clamp: 2;
        }
      }
      .platformDate {
        color: #9e9e9e;
      }
    }
  }
}
