.pagination {
  margin-top: auto;
  display: flex;
  justify-content: center;
  gap: 0.4rem;
  padding-top: 2.7rem;
  .pageContainer {
    display: flex;
    justify-content: center;
    gap: 0.8rem;
    .pageLink {
      font-size: 1.2rem;
      font-weight: 500;
      line-height: 2rem;
      color: #33455c;
    }
    .pageActive {
      font-weight: 700;
      color: #b53a40;
    }
  }
}
