@use "@/styles/_colors.scss";
@use "@/styles/responsive.scss" as rs;

.maintanceChart {
  background-color: colors.$mainNavy;
  padding: 1.8rem 1.6rem;
  @include rs.respond-to("mobile-large") {
    padding: 1.4rem 1.2rem;
  }
  @include rs.respond-to("mobile-medium") {
    padding: 1.3rem 1.1rem;
  }
  @include rs.respond-to("mobile-small") {
    padding: 1.2rem 1rem;
  }
  .chartTitle {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 3rem;
    strong {
      font-size: 1.6rem;
      font-weight: 700;
      color: #ffffff;
    }
    button {
      display: flex;
      align-items: center;
      gap: 0.4rem;
      font-size: 1.6rem;
      color: #ffffff;
      span {
        color: #ffffff;
      }
    }
  }
}
