$shimmer-bg: #eee;
$shimmer-highlight: rgba(255, 255, 255, 0.5);
$animation-duration: 2s;

@keyframes shimmer {
  0% {
    transform: translateX(-150%);
  }
  50% {
    transform: translateX(-60%);
  }
  100% {
    transform: translate(150%);
  }
}

.skeleton {
  background: $shimmer-bg;
  margin: 0;
  position: relative;
  overflow: hidden;
  border-radius: 1rem;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      $shimmer-highlight 50%,
      rgba(255, 255, 255, 0) 100%
    );
    animation: shimmer $animation-duration infinite;
  }
}
