@use "@/styles/_colors.scss";
@use "@/styles/responsive.scss" as rs;

@mixin listTitleStyle {
  display: flex;
  flex-direction: column;
  width: 50%;
  .title {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    font-size: 2rem;
    font-weight: 600;
    padding: 1.2rem 2.2rem 1.2rem;
    color: #ffffff;
    background-color: colors.$mainTitle;
    @include rs.respond-to("desktop-large") {
      font-size: 1.8rem;
      padding: 1.2rem 2.2rem 1.2rem;
    }
    @include rs.respond-to("desktop-medium") {
      font-size: 1.7rem;
      padding: 1.2rem 2.2rem 1.2rem;
    }
    img {
      width: 2.2rem;
      @include rs.respond-to("desktop-large") {
        width: 2rem;
      }
      @include rs.respond-to("desktop-medium") {
        width: 1.8rem;
      }
    }
  }
}

@mixin listContentStyle {
  width: 100%;
  padding: 2.4rem 2.2rem;
  display: flex;
  flex-direction: column;
  gap: 4.4rem;
  li {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    strong {
      font-size: 2rem;
      font-weight: 600;
      color: colors.$mainNavy;
    }
    span {
      font-size: 2rem;
      color: colors.$mainTitle;
    }
  }
}

.weakApartInfoContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  overflow-y: hidden;
  gap: 1.6rem;
  @include rs.respond-to("desktop-small") {
    gap: 0rem;
  }
  .weakApartInfo {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    height: 100%;
    overflow-y: auto;
    .apartInfo {
      .titleContainer {
        padding: 1.2rem 2.2rem 1.2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #ffffff;
        background-color: colors.$mainTitle;
        .title {
          display: flex;
          align-items: center;
          gap: 0.8rem;
          font-size: 2rem;
          font-weight: 600;
          @include rs.respond-to("desktop-large") {
            font-size: 1.8rem;
          }
          @include rs.respond-to("desktop-medium") {
            font-size: 1.8rem;
          }
          img {
            width: 2.2rem;
            @include rs.respond-to("desktop-large") {
              width: 2rem;
            }
            @include rs.respond-to("desktop-medium") {
              width: 1.8rem;
            }
          }
        }
        .goBack {
          display: flex;
          align-items: center;
          gap: 0.8rem;
          font-size: 1.8rem;
          color: #ffffff;
          @include rs.respond-to("desktop-small") {
            display: none;
          }
          button {
            display: flex;
            align-items: center;
            img {
              width: 1.6rem;
            }
          }
        }
      }
      .contentContainer {
        width: 100%;
        border: 0.1rem solid colors.$mainBorder;
        padding: 2.4rem 2.2rem 3rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3rem;
        row-gap: 4.4rem;
        @include rs.respond-to("desktop-small") {
          border: none;
        }
        li {
          display: flex;
          flex-direction: column;
          gap: 1.4rem;
          strong {
            font-size: 2rem;
            font-weight: 600;
            color: colors.$mainNavy;
          }
          span {
            font-size: 2rem;
            color: colors.$mainTitle;
          }
        }
      }
    }
    .weakInfo {
      display: flex;
      gap: 0.4rem;
      border: 0.1rem solid colors.$mainBorder;
      border-top: none;
      height: 100%;
      position: relative;
      .pillarStatus {
        @include listTitleStyle;
        .contentContainer {
          @include listContentStyle;
          &::after {
            content: "";
            position: absolute;
            top: 15%;
            bottom: 5%;
            left: 50%;
            width: 0.15rem;
            background-color: colors.$mainTitle;
            @include rs.respond-to("desktop-small") {
              top: 25%;
            }
          }
        }
      }
      .supplementMethod {
        @include listTitleStyle;
        .contentContainer {
          @include listContentStyle;
          &::after {
            content: "";
            position: absolute;
            top: 15%;
            bottom: 5%;
            right: 50%;
            width: 0.15rem;
            background-color: colors.$mainTitle;
            @include rs.respond-to("desktop-small") {
              top: 25%;
            }
          }
        }
      }
    }
  }
}
