.dropDown {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  padding: 0.4rem 0rem;
  span {
    padding-left: 0.8rem;
  }
}

.dropDownContent {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 10;
  background-color: white;
  li {
    cursor: pointer;
    border: 1px solid #abb0b7;
    border-bottom: none;
    padding: 0.4rem 1.5rem 0.4rem 0.8rem;
  }
  li:last-child {
    border-bottom: 1px solid #abb0b7;
  }
}
