@use "@/styles/colors.scss";
@use "@/styles/responsive.scss" as rs;

.pagination {
  margin-top: auto;
  display: flex;
  justify-content: center;
  gap: 0.4rem;
  padding-top: 1.6rem;
  @include rs.respond-to("desktop-small") {
    padding: 1.6rem;
  }
  .pageContainer {
    display: flex;
    justify-content: center;
    gap: 0.8rem;
    .pageLink {
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 2rem;
      color: colors.$mainTitle;
      @include rs.respond-to("mobile-large") {
        font-size: 1.3rem;
      }
      @include rs.respond-to("mobile-small") {
        font-size: 1.2rem;
      }
    }
    .pageActive {
      font-weight: 700;
      color: colors.$mainRed;
    }
  }
}
