@use "@/styles/responsive.scss" as rs;

.noticeList {
  border: 0.1rem solid #aaafb9;
  padding: 2.4rem 3rem;
  height: 100%;
  width: 100%;
  cursor: pointer;
  overflow: hidden;
  @include rs.respond-to("mobile-large") {
    padding: 1.4rem 2rem;
  }
  @include rs.respond-to("tablet-large") {
    border: none;
    border-bottom: 0.1rem solid #aaafb9;
  }
  .noticeListTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.8rem;
    strong {
      font-size: 1.7rem;
      font-weight: 700;
      color: #142337;
      @include rs.respond-to("mobile-large") {
        font-size: 1.4rem;
      }
    }
    span {
      font-size: 1.5rem;
      color: #aaafb9;
      @include rs.respond-to("mobile-large") {
        font-size: 1.3rem;
      }
    }
  }
  .noticeListContent {
    font-size: 1.6rem;
    line-height: 2rem;
    color: #1e4164;
    display: -webkit-box;
    text-align: justify;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: pre-line;
    @include rs.respond-to("mobile-large") {
      font-size: 1.2rem;
    }
  }
}
