.dropDown {
  cursor: pointer;
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 0.4rem;
  padding: 0.4rem 0rem;
  background-color: #f5f5f5;
  color: #142337;
  font-family: "Pretendard", sans-serif;
  .selectContent {
    padding-left: 0.8rem;
    &.small {
      font-size: 1rem;
    }
    &.medium {
      font-size: 1.3rem;
    }
  }
}

.dropDownBorder {
  border: 0.1rem solid #abb0b7;
}

.dropDownContent {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 10;
  background-color: white;
  color: #435464;
  font-family: "Pretendard", sans-serif;
}
