@use "@/styles/_colors.scss";

.apartHouseholdInfoList {
  display: flex;
  gap: 1.6rem;
  strong {
    color: colors.$mainNavy;
    font-size: 1.6rem;
    font-weight: 600;
  }
  span {
    color: colors.$mainTitle;
    font-size: 1.6rem;
  }
}
