@use "@/styles/_colors.scss";
@use "@/styles/responsive.scss" as rs;

.buildInfo {
  display: flex;
  margin-top: 1.6rem;
  @include rs.respond-to("desktop-small") {
    margin-top: 0;
  }
  .buildCompanyDate {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    grid-template-rows: auto auto;
    width: 100%;
    background-color: #ffffff;
  }
}
