@use "@/styles/_colors.scss";
@use "@/styles/responsive.scss" as rs;

.buildInfo {
  display: flex;
  .buildCompanyDate {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    gap: 2.2rem;
    width: 100%;
    background-color: #ffffff;
    @include rs.respond-to("desktop-small") {
      padding: 0.4rem;
      gap: 0.4rem;
    }
  }
}
