@use "@/styles/_colors.scss";

.apartInfoContainer {
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  //아파트, 지역 검색
  .apartSearch {
    display: flex;
    align-items: center;
    max-width: 100%;
    position: relative;
    .apartSearchInput {
      width: 100%;
      border-top-left-radius: 10rem;
      border-bottom-left-radius: 10rem;
      padding: 1rem 0rem 1rem 2.4rem;
      border: 0.1rem solid colors.$mainRed;
      font-size: 1.6rem;
      outline: none;
      &::placeholder {
        font-size: 1.6rem;
      }
    }
    img {
      position: absolute;
      right: 1.6rem;
    }
  }
  //아파트 헤더타이틀
  .apartHeadInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    width: 100%;
    gap: 0.8rem;
    .apartNameLocation {
      display: flex;
      background-color: colors.$mainNavy;
      padding: 1.6rem 2.4rem;
      flex-direction: column;
      gap: 1.2rem;
      //아파트 이름
      .apartName {
        font-size: 2rem;
        font-weight: 700;
        color: #ffffff;
      }
      //아파트 위치정보
      .apartLocation {
        display: flex;
        align-items: center;
        gap: 1.6rem;
        .apartRegion {
          font-size: 1.5rem;
          color: #ffffff;
        }
        //아파트 우편번호
        .apartZipCode {
          display: flex;
          align-items: center;
          gap: 0.4rem;
          img {
            width: 2.4rem;
            height: 2.4rem;
          }
          span {
            font-size: 1.5rem;
            color: #ffffff;
          }
        }
      }
    }
  }
  //아파트 정보(준공일, 시공사 ...)
  .apartInfo {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    width: 100%;
    overflow-y: auto;
    .buildInfo {
      display: flex;
      .buildCompanyDate {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
        width: 60%;
        padding: 1.6rem 0rem 1.6rem 2.4rem;
        background-color: colors.$mainTitle;
        div {
          display: flex;
          gap: 1.6rem;
          strong {
            color: #ffffff;
            font-size: 1.6rem;
            font-weight: 600;
          }
          span {
            color: #ffffff;
            font-size: 1.6rem;
          }
        }
      }
      .apartHousehold {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
        width: 40%;
        padding: 1.6rem 0rem 1.6rem 2.4rem;
        border: 0.1rem solid #9e9e9e;
        border-left: none;
        div {
          display: flex;
          gap: 1.6rem;
          strong {
            color: colors.$mainNavy;
            font-size: 1.6rem;
            font-weight: 600;
          }
          span {
            color: colors.$mainTitle;
            font-size: 1.6rem;
          }
        }
      }
    }
    //한달 매매가
    .apartPrice {
      display: flex;
      align-items: center;
      height: 100%;
      .priceTitle {
        font-size: 1.6rem;
        font-weight: 600;
        color: #ffffff;
        background-color: colors.$mainTitle;
        text-align: center;
        padding: 1.4rem 2.4rem;
        width: 30%;
        height: 100%;
      }
      .priceContent {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 3.2rem;
        padding: 0.8rem 2.4rem;
        border: 0.1rem solid #9e9e9e;
        border-left: none;
        height: 100%;
        .price {
          font-size: 1.6rem;
          font-weight: 700;
          color: colors.$mainRed;
        }
        .selectArea {
          display: flex;
          align-items: center;
          gap: 0.8rem;
          .areaTitle {
            color: #142337;
            font-size: 1.6rem;
          }
        }
      }
    }
    // 관리비 차트
    .chart {
      background-color: colors.$mainNavy;
      padding: 1.8rem 1.6rem;
      .chartTitle {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-bottom: 3rem;
        strong {
          font-size: 1.6rem;
          font-weight: 700;
          color: #ffffff;
        }
        button {
          display: flex;
          align-items: center;
          gap: 0.4rem;
          font-size: 1.6rem;
          color: #ffffff;
          span {
            color: #ffffff;
          }
        }
      }
    }
    // 아파트 정보(부대복리시설 등등)
    .apartBriefInfo {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto;
      gap: 0.8rem;
      li {
        &:first-child {
          grid-column: 1 / -1;
        }
        .title {
          padding: 0.8rem 2.4rem 0.8rem;
          font-size: 1.6rem;
          font-weight: 600;
          display: flex;
          align-items: center;
          gap: 0.8rem;
          color: #ffffff;
          background-color: colors.$mainTitle;
        }
        .content {
          display: inline-block;
          width: 100%;
          padding: 0.8rem 2.4rem 0.8rem;
          border: 0.1rem solid #9e9e9e;
          border-top: none;
          color: colors.$mainNavy;
          font-size: 1.4rem;
          li {
            display: flex;
            align-items: center;
            gap: 0.4rem;
            span {
              color: colors.$mainNavy;
              font-weight: 500;
            }
          }
        }
      }
    }
  }
  //아파트 상세정보 보기 버튼
  .detailApartInfoButton {
    font-size: 1.4rem;
    font-weight: 500;
    color: colors.$mainTitle;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 0.4rem;
  }
}
