@use "@/styles/colors.scss";

.maintances {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  background-color: colors.$mainNavy;
  padding: 0rem 2rem;
  .eachArea {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: colors.$mainNavy;
    &:first-child {
      display: flex;
      flex-direction: column;
      div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0.8rem;
        position: relative;
        button {
          img {
            width: 3rem;
          }
        }
      }
    }
    .title {
      color: #ffffff;
      font-size: 1.8rem;
      font-weight: 600;
      padding: 2rem 0rem;
      span {
        font-weight: 400;
      }
    }
  }
}
