@use "@/styles/colors.scss";
@use "@/styles/responsive.scss" as rs;

.statusList {
  display: flex;
  .listTitle {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    justify-content: center;
    background-color: colors.$mainTitle;
    padding: 1.8rem 0rem 1.8rem 2rem;
    @include rs.respond-to("mobile-large") {
      font-size: 1.4rem;
      padding: 1.8rem 0rem 1.8rem 2rem;
    }
    .listMainTitle {
      font-size: 1.6rem;
      font-weight: 600;
      color: #f5f5f5;
      @include rs.respond-to("desktop-medium") {
        font-size: 1.4rem;
      }
      @include rs.respond-to("desktop-small") {
        font-size: 2rem;
      }
      @include rs.respond-to("tablet-small") {
        font-size: 1.8rem;
      }
      @include rs.respond-to("mobile-large") {
        font-size: 1.4rem;
      }
    }
    .listSubTitle {
      font-size: 2rem;
      height: 2rem;
      color: #f5f5f5;
      opacity: 1;
      transform: translateY(5px);
      transition: opacity 0.5s ease-out, transform 0.5s ease-out;
      @include rs.respond-to("desktop-medium") {
        font-size: 1.8rem;
        height: 1.8rem;
      }
    }
    .visible {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .listContent {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 0.8rem;
    font-size: 2.6rem;
    padding: 2rem 2rem 2rem 0rem;
    width: 50%;
    font-weight: 600;
    color: #f5f5f5;
    background-color: #142337;
    @include rs.respond-to("desktop-large") {
      font-size: 2.4rem;
      padding: 1.6rem 2.2rem 1.6rem 0rem;
    }
    @include rs.respond-to("desktop-medium") {
      font-size: 2.2rem;
      padding: 1.6rem 2rem 1.6rem 0rem;
    }
    @include rs.respond-to("desktop-small") {
      font-size: 2rem;
      padding: 0rem 1.8rem 0rem 0rem;
    }
    @include rs.respond-to("mobile-large") {
      font-size: 2rem;
    }
    span {
      opacity: 0;
      transform: translateY(5px);
      transition: opacity 0.5s ease-out, transform 0.5s ease-out;
    }
    .visible {
      opacity: 1;
      transform: translateY(0);
    }
    .detailApartInfo {
      display: flex;
      align-items: center;
      img {
        width: 2rem;
      }
    }
  }
}
