@use "@/styles/responsive.scss" as rs;

$shimmer-bg: #eee;
$shimmer-highlight: rgba(255, 255, 255, 0.5);
$animation-duration: 2s;

@keyframes shimmer {
  0% {
    transform: translateX(-150%);
  }
  50% {
    transform: translateX(-60%);
  }
  100% {
    transform: translate(150%);
  }
}

.skeleton {
  background: $shimmer-bg;
  margin: 0;
  position: relative;
  overflow: hidden;
  border-radius: 1rem;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      $shimmer-highlight 50%,
      rgba(255, 255, 255, 0) 100%
    );
    animation: shimmer $animation-duration infinite;
  }

  &.platform {
    width: 6rem;
    height: 2rem;
  }

  &.date {
    width: 10rem;
    height: 2rem;
  }

  &.title {
    width: 100%;
    height: 2rem;
    margin-bottom: 1.2rem;
  }

  &.description {
    width: 100%;
    height: calc(2.4rem * 4);
    margin-bottom: 0.8rem;

    @include rs.respond-to("tablet-large") {
      height: calc(2.2rem * 2);
    }
  }

  &.thumbnail {
    width: 100%;
    height: 100%;
  }
}

.skeletonWrapper {
  width: 100%;
  padding: 1.2rem 2rem;
  border: 0.1rem solid #ddd;
  border-radius: 1rem;
  box-sizing: border-box;
  background: #fff;

  @include rs.respond-to("tablet-large") {
    border-radius: 0;
  }

  .skeletonNewsItem {
    display: flex;
    flex-direction: column;

    .skeletonHeader {
      display: flex;
      justify-content: flex-start;
      gap: 0.8rem;
      margin-bottom: 0.5rem;
    }

    .skeletonContent {
      display: grid;
      grid-template-columns: 22% auto;
      grid-template-rows: calc(2.4rem * 4);
      gap: 1.2rem;

      @include rs.respond-to("tablet-large") {
        grid-template-columns: 30% auto;
        grid-template-rows: calc(2.2rem * 2);
      }
    }
  }
}
