@use "@/styles/colors.scss";

li {
  .title {
    display: flex;
    gap: 0.8rem;
    align-items: center;
    width: 100%;
    background-color: #7f8a95;
    font-weight: 600;
    color: #ffffff;
    font-size: 2rem;
    padding: 1.2rem 0rem 1.2rem 2.4rem;
  }
  div {
    padding: 2rem 0;
    .contents {
      width: 100%;
      &.even {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: stretch;
        row-gap: 2rem;
      }
      &.odd {
        display: flex;
      }
      .contentList {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-bottom: 3rem;
        &:not(:last-child) {
          border-right: 0.2rem solid #7f8a95;
        }
        &.even {
          &:nth-child(2n) {
            border-right: none;
          }
          .subTitle {
            font-size: 2rem;
            font-weight: 600;
          }
          .subContent {
            font-size: 3.2rem;
            font-weight: 600;
          }
        }
        .subTitle {
          font-size: 2rem;
          font-weight: 600;
        }
        .subContent {
          font-size: 2.6rem;
          font-weight: 600;
        }
      }
    }
    .chargeDetail {
      width: 100%;
      display: flex;
      flex-direction: column;
      // align-items: center;
      padding: 3rem;
      span {
        color: colors.$mainNavy;
        font-weight: 600;
        font-size: 1.8rem;
        align-self: center;
      }
      .chargeDetailLists {
        width: 100%;
        display: flex;
        flex-direction: column;
        // align-self: flex-start;
        padding: 2.4rem;
        padding-bottom: 0;
        gap: 2.4rem;
        .chargeDetailList {
          width: 100%;
          display: flex;
          align-items: center;
          // justify-content: center;
          gap: 0.4rem;
          span {
            color: #ffffff;
            background-color: colors.$mainNavy;
            padding: 0.2rem 1rem;
            font-size: 1.4rem;
            border: 1px solid black;
            border-radius: 1.6rem;
            flex-shrink: 0;
            align-self: self-start;
          }
          p {
            color: colors.$mainNavy;
            font-size: 1.8rem;
            font-weight: 600;
            line-height: 2rem;
          }
        }
      }
    }
  }
}
