@use "@/styles/colors.scss";
@use "@/styles/responsive.scss" as rs;

li {
  .title {
    display: flex;
    gap: 0.8rem;
    align-items: center;
    width: 100%;
    background-color: #7f8a95;
    font-weight: 600;
    color: #ffffff;
    font-size: 2rem;
    padding: 1.2rem 0rem 1.2rem 2.4rem;
    @include rs.respond-to("desktop-small") {
      font-size: 1.8rem;
      padding: 1rem 0rem 1rem 2.2rem;
    }
    @include rs.respond-to("tablet-large") {
      font-size: 1.6rem;
      padding: 0.8rem 0rem 0.8rem 2rem;
    }
    @include rs.respond-to("tablet-small") {
      font-size: 1.4rem;
      padding: 0.6rem 0rem 0.6rem 1.8rem;
    }
    img {
      width: 1rem;
      @include rs.respond-to("desktop-small") {
        width: 2.6rem;
      }
      @include rs.respond-to("tablet-large") {
        width: 2.2rem;
      }
      @include rs.respond-to("tablet-small") {
        width: 1.8rem;
      }
    }
  }
  .contents {
    padding: 3rem 0;
    @include rs.respond-to("desktop-small") {
      padding: 2.6rem 0;
    }
    @include rs.respond-to("tablet-large") {
      padding: 2.2rem 0;
    }
    @include rs.respond-to("tablet-small") {
      padding: 1.8rem 0;
    }
    @include rs.respond-to("mobile-large") {
      padding: 1.4rem 0;
    }
    @include rs.respond-to("mobile-large") {
      padding: 1rem 0;
    }
    .contentsListContainer {
      width: 100%;
      &.even {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: stretch;
        row-gap: 2rem;
      }
      &.odd {
        display: flex;
        align-items: start;
      }
      .contentList {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-bottom: 2rem;
        @include rs.respond-to("desktop-small") {
          padding: 1.6rem;
        }
        @include rs.respond-to("tablet-large") {
          padding: 1.2rem;
        }
        @include rs.respond-to("tablet-small") {
          padding: 0.6rem;
        }
        @include rs.respond-to("mobile-large") {
          padding: 0.2rem;
        }
        @include rs.respond-to("mobile-small") {
          padding: 0rem;
        }
        &:not(:last-child) {
          border-right: 0.2rem solid #7f8a95;
        }
        &.even {
          &:nth-child(2n) {
            border-right: none;
          }
          &:last-child {
            @include rs.respond-to("desktop-small") {
              border-right: none;
            }
          }
          .subTitle {
            font-size: 2rem;
            font-weight: 600;
            color: #7f8a95;
            @include rs.respond-to("desktop-small") {
              font-size: 1.8rem;
            }
            @include rs.respond-to("mobile-large") {
              font-size: 1.3rem;
            }
            @include rs.respond-to("mobile-medium") {
              font-size: 1.2rem;
            }
          }
          .subContent {
            font-size: 3.2rem;
            font-weight: 600;
            text-align: center;
            @include rs.respond-to("desktop-medium") {
              font-size: 2.8rem;
            }
            @include rs.respond-to("tablet-small") {
              font-size: 2.2rem;
            }
            @include rs.respond-to("mobile-large") {
              font-size: 1.4rem;
            }
          }
        }
        .subTitle {
          font-size: 2rem;
          font-weight: 600;
          color: #7f8a95;
          @include rs.respond-to("desktop-small") {
            font-size: 1.8rem;
          }
          // @include rs.respond-to("tablet-large") {
          //   font-size: 1.6rem;
          // }
          @include rs.respond-to("tablet-small") {
            font-size: 1.4rem;
          }
          @include rs.respond-to("mobile-large") {
            font-size: 1.2rem;
          }
        }
        .subContent {
          padding: 2.6rem 0;
          font-size: 2rem;
          font-weight: 600;
          text-align: center;
          white-space: pre-wrap;
          @include rs.respond-to("desktop-large") {
            font-size: 1.8rem;
            padding: 2.2rem 0;
          }
          @include rs.respond-to("desktop-small") {
            font-size: 2.8rem;
          }
          @include rs.respond-to("tablet-small") {
            font-size: 1.6rem;
            padding: 1.4rem 0;
          }
          @include rs.respond-to("mobile-large") {
            font-size: 1.4rem;
            padding: 0.8rem 0;
          }
        }
      }
    }
    .chargeDetail {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 3rem;
      @include rs.respond-to("desktop-small") {
        padding: 2.6rem;
      }
      @include rs.respond-to("tablet-large") {
        padding: 2.2rem;
      }
      @include rs.respond-to("tablet-small") {
        padding: 1.8rem;
      }
      @include rs.respond-to("mobile-large") {
        padding: 1.4rem;
      }
      @include rs.respond-to("mobile-small") {
        padding: 1rem;
      }
      span {
        color: colors.$mainNavy;
        font-weight: 600;
        font-size: 1.8rem;
        align-self: center;
        @include rs.respond-to("mobile-large") {
          font-size: 1.4rem;
        }
        @include rs.respond-to("mobile-medium") {
          font-size: 1.2rem;
        }
      }
      .chargeDetailLists {
        width: 100%;
        height: 100%;
        overflow-y: visible;
        display: flex;
        flex-direction: column;
        padding: 2.4rem;
        padding-bottom: 0;
        gap: 2.4rem;
        @include rs.respond-to("desktop-small") {
          padding: 2rem;
        }
        @include rs.respond-to("tablet-large") {
          padding: 1.6rem;
        }
        @include rs.respond-to("tablet-small") {
          padding: 1.2rem;
        }
        .chargeDetailList {
          width: 100%;
          display: flex;
          align-items: center;
          gap: 0.4rem;
          span {
            color: #ffffff;
            background-color: colors.$mainNavy;
            padding: 0.2rem 1rem;
            font-size: 1.4rem;
            border: 1px solid black;
            border-radius: 1.6rem;
            flex-shrink: 0;
            align-self: self-start;
            @include rs.respond-to("tablet-small") {
              font-size: 1.2rem;
            }
            @include rs.respond-to("mobile-medium") {
              font-size: 1.1rem;
            }
          }
          p {
            color: colors.$mainNavy;
            font-size: 1.8rem;
            font-weight: 600;
            line-height: 2rem;
            @include rs.respond-to("tablet-small") {
              font-size: 1.4rem;
            }
            @include rs.respond-to("mobile-large") {
              font-size: 1.2rem;
            }
            @include rs.respond-to("mobile-medium") {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }
}
