@use "@/styles/colors.scss";

.building {
  width: 100%;
  button {
    width: 100%;
    position: sticky;
    top: 1rem;
    display: flex;
    justify-content: right;
    img {
      position: absolute;
      right: 1rem;
      width: 2.5rem;
    }
  }
  ul {
    li {
      img {
        width: 2.4rem;
      }
      .contents {
        width: 100%;
        padding: 1.6rem 0;
        .content {
          display: flex;
          width: 50%;
          align-items: center;
          flex-direction: column;
          gap: 2.4rem;
          padding: 1.2rem;
          padding-bottom: 5rem;
          &:first-child {
            border-right: 0.1rem solid #7f8a95;
          }
          &:last-child {
            border-left: 0.1rem solid #7f8a95;
          }
          .subTitle {
            font-size: 2rem;
            font-weight: 600;
          }
          .subContent {
            font-size: 3rem;
            font-weight: 600;
          }
        }
        .chargeDetail {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          span {
            color: colors.$mainNavy;
            font-weight: 600;
            font-size: 1.8rem;
          }
          .chargeDetailLists {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-self: flex-start;
            padding: 2.4rem;
            gap: 2rem;
            .chargeDetailList {
              width: 100%;
              display: flex;
              align-items: center;
              // justify-content: center;
              gap: 0.4rem;
              span {
                color: #ffffff;
                background-color: colors.$mainNavy;
                padding: 0.2rem 1rem;
                font-size: 1.4rem;
                border: 1px solid black;
                border-radius: 1.6rem;
                flex-shrink: 0;
                align-self: self-start;
              }
              p {
                color: colors.$mainNavy;
                font-size: 1.8rem;
                font-weight: 600;
                line-height: 2rem;
              }
            }
          }
        }
      }
    }

    .title {
      display: flex;
      gap: 0.8rem;
      align-items: center;
      width: 100%;
      background-color: #7f8a95;
      font-weight: 600;
      color: #ffffff;
      font-size: 2rem;
      padding: 1.2rem 0rem 1.2rem 2.4rem;
    }
  }
}
