@use "@/styles/responsive.scss" as rs;

.detailInfo {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000;
  height: 100%;
  width: 50%;
  background-color: white;
  border-right: 0.1rem solid #9e9e9e;
  animation: slideIn 0.6s ease-out;
  transform-origin: left;
  @include rs.respond-to("desktop-large") {
    width: 55%;
  }
  @include rs.respond-to("desktop-medium") {
    width: 70%;
  }
  @include rs.respond-to("desktop-small") {
    position: static;
    width: 100%;
    animation: none;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
