@use "@/styles/colors.scss";

.newsHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 3svh;
  .empty {
    width: 11rem;
  }
  .headerTab {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.8rem;
    button {
      font-size: 2.5rem;
      font-weight: 700;
      color: colors.$mainBorder;
    }
    .active {
      color: colors.$mainRed;
    }
    span {
      font-size: 2.5rem;
      font-weight: 700;
      color: colors.$mainBorder;
    }
  }
}
